{% extends 'base.html.twig' %}

{% block title %}
    {{ refuge.name }}
    - Accueil
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Bienvenue sur notre site</h1>
    </div>
    <div class="container mt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('build/images/merle.jpg') }}" class="d-block w-100" alt="Photo de merle">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('build/images/ecureuil.jpg') }}" class="d-block w-100" alt="Photo de corbeau">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('build/images/renard.jpg') }}" class="d-block w-100" alt="Photo de renard">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-11 col-lg-7 text-center bg-content mt-4">
        <div class="row justify-content-center">
            <div class="col col-lg-auto ">
                <h3>{{ refuge.name }}</h3>
                <p>{{ refuge.name }}
                    est un centre de soins qui accueille les animaux blessés ou abandonnés. Nous avons besoin de votre aide pour continuer à sauver des vies.</p>
                <p class="fw-bolder">Vous avez trouvé un animal blessé !</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-11 col-lg-8 ">
                <a href="{{ path('app_message_new') }}" class="btn btn-info mt-2">Contactez nous</a>
            </div>
        </div>
    </div>

    <div
        class="container col-11 col-lg-7 text-center bg-content mt-4">
        {# Instagram Feeds #}
        {% set instagram = {
        'sub_title': "Suivez nos actualités sur Instagram !",
        'account_url': "https://www.instagram.com/agtn69/",
        'account_url_title': "@" ~ refuge.name,
        'header_title': refuge.name,
        'header_text': "Notre refuge pour animaux est un lieu de paix et de sécurité pour tous les animaux en détresse. Rejoignez-nous dans notre mission de sauver et de protéger les animaux en difficulté.",
        'header_img': asset('build/images/Instagram_Icon.webp'),
        'header_img_alt': refuge.name,
     } %}
        {% include "component/instagram_feeds.html.twig" with {'sectionTitle': "Suivez nous sur les réseaux" } %}
    </div>
{% endblock %}
