<div class="container mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4">
        {% for animal in animals %}
            <div class="col">
                <div class="card h-100">
                    <img width="100%" height="100%" src="{{ vich_uploader_asset(animal) }}" alt="{{ animal.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ animal.name }}</h5>
                        <p class="card-text">{{ animal.comment | slice(0, 200) }}...</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_animal_show', {'id': animal.id}) }}" class="container-fluid btn btn-secondary">Voir sa fiche</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
