{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Gestion des pensionnaires
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center welcome-container">
            <img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
            <h1 class="mt-4">Gestion des pensionnaires</h1>
        </div>
        <div class="container text-center bg-content-table mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-12">
                    <div class="text-end mb-3">
                        <a class="btn btn-secondary" href="{{ path('app_animal_new') }}">+ Ajouter un nouveau pensionnaire</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th class="d-none d-lg-table-cell text-nowrap">Nom latin</th>
                                <th class="d-none d-md-table-cell text-nowrap">Nom vernaculaire</th>
                                <th class="d-none d-md-table-cell text-nowrap">Date d'arrivée</th>
                                <th class="d-none d-md-table-cell text-nowrap">Date de départ</th>
                                <th class="d-none d-lg-table-cell text-nowrap">Commentaire</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal in animals %}
                                <tr>
                                    <td>{{ animal.id }}</td>
                                    <td>
                                        <a href="{{ path('app_animal_show', {'id': animal.id}) }}">{{ animal.name }}</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">{{ animal.latinName }}</td>
                                    <td class="d-none d-md-table-cell">{{ animal.vernacularName }}</td>
                                    <td class="d-none d-md-table-cell text-nowrap">{{ animal.arrivalDate ? animal.arrivalDate|date('d-m-Y') : '' }}</td>
                                    <td class="d-none d-md-table-cell text-nowrap">{{ animal.departureDate ? animal.departureDate|date('d-m-Y') : 'N/A' }}</td>
                                    <td class="d-none d-lg-table-cell">{{ animal.comment | slice(0, 240) }}...</td>
                                    <td>
                                        <a class="btn btn-secondary mb-2" href="{{ path('app_animal_edit', {'id': animal.id}) }}">Modifier</a>
                                        {{ include('animal/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">
                                        <div class="alert alert-info" role="alert">
                                            Aucun enregistrement trouvé !
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container text-center welcome-container">
            <img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
            <h1 class="mt-4">Accès refusé</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <div class="alert alert-danger" role="alert">
                        Vous n'avez pas l'autorisation d'accéder à cette page !
                    </div>
                    <a href="{{ path('app_index') }}">Retour à la page d'accueil</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
