{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ refuge.name }}
        - Modification d'un type de soin
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container text-center">
            <h1>Modifier le type de soin
                {{ type_of_care.name }}</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    {{ include('type_of_care/_form.html.twig', {'button_label': 'Valider les modifications'}) }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="mt-4">
                            {{ include('type_of_care/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                    <div class="m-4">
                        <a href="{{ path('app_type_of_care_index') }}">Retour à la liste des types de soin</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include "component/alert.html.twig" with {
            'alert_title': "Accès refusé",
            'alert_color': "danger",
            'alert_text': "Vous n'avez pas l'autorisation d'accéder à cette page !",
            'alert_redirect_link': path('app_index'),
            'alert_redirect_link_text': "Retour à la page d'accueil",
        } %}
    {% endif %}
{% endblock %}
