{% extends 'base.html.twig' %}

{% block title %}
    {{ refuge.name }}
    - Login
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center">
            <h1>Vous êtes déjà connecté</h1>
        </div>
    {% else %}
        <div class="container text-center">
            <h1>Page de connexion</h1>
        </div>
        <div class="container text-center bg-content my-5">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path('app_login') }}" method="post">
                        <div class="connexion-container-1">
                            <div class="connexion-container-2">
                                <div>
                                    <label for="username">Email :</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                                </div>
                                <div>
                                    <label for="password">Password :</label>
                                    <input type="password" id="password" name="_password"/>
                                </div>
                                {# If you want to control the URL the user is redirected to on success #}
                                <input type="hidden" name="_target_path" value="{{ path('app_animal_admin_index') }}"/>
                                <button class="btn btn-primary" type="submit">Se connecter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
