{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Modification d'un soigneur.euse
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center">
            <h1>Modifier soigneur.euse
                                "{{ animal_keeper.firstName }}
                {{ animal_keeper.lastName }}"</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    {{ include('animal_keeper/_form.html.twig', {'button_label': 'Valider les modifications'}) }}
                    <div class="mt-4">
                        {{ include('animal_keeper/_delete_form.html.twig') }}
                    </div>
                    <div class="m-4">
                        <a href="{{ path('app_animal_keeper_index') }}">Retour à la liste des soigneur.euse.s</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include "/_access_denied.html.twig" %}
    {% endif %}
{% endblock %}
