{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .edit-button {
            max-width: 110px;
        }
    </style>
{% endblock %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Liste des soigneurs.euses
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center welcome-container">
            <img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
            <h1 class="mt-4">Liste des soigneurs.euses</h1>
        </div>
        <div class="container text-center bg-content-table mt-4 col-md-7">
            <div class="row justify-content-md-center">
                <div class="col">
                    <div class="text-end mb-3">
                        <a class="btn btn-secondary" href="{{ path('app_animal_keeper_new') }}">+ Ajouter un nouveau soigneur.euse</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Soigneur.euse</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal_keeper in animal_keepers %}
                                <tr>
                                    <td>{{ animal_keeper.id }}</td>
                                    <td>
                                        <a href="{{ path('app_animal_keeper_show', {'id': animal_keeper.id}) }}">{{ animal_keeper.firstName }}
                                            {{ animal_keeper.lastName }}</a>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-md-4 gap-lg-5">
                                            <a class="btn btn-secondary edit-button mb-2 mb-md-0 me-md-2" href="{{ path('app_animal_keeper_edit', {'id': animal_keeper.id}) }}">Modifier</a>
                                            {{ include('animal_keeper/_delete_form.html.twig') }}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">
                                        <div class="alert alert-info" role="alert">
                                            Aucun enregistrement trouvé !
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container text-center welcome-container">
            <img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
            <h1 class="mt-4">Accès refusé</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <div class="alert alert-danger" role="alert">
                        Vous n'avez pas l'autorisation d'accéder à cette page !
                    </div>
                    <a href="{{ path('app_index') }}">Retour à la page d'accueil</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
