{% extends 'base.html.twig' %}

{% block title %}AnimalKeeper index
{% endblock %}

{% block body %}

	<div class="container text-center welcome-container">
		<img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
		<h1 class="mt-4">Liste des soigneurs.euses</h1>
	</div>

	<div class="container text-center bg-content mt-4">
		<div class="row justify-content-md-center">
			<div class="col col-lg-6">

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for animal_keeper in animal_keepers %}
							<tr>
								<td>{{ animal_keeper.id }}</td>
								<td>{{ animal_keeper.firstName }}</td>
								<td>{{ animal_keeper.lastName }}</td>
								<td>
									<a href="{{ path('app_animal_keeper_show', {'id': animal_keeper.id}) }}">show</a>
									<a href="{{ path('app_animal_keeper_edit', {'id': animal_keeper.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<a href="{{ path('app_animal_keeper_new') }}">Create new</a>

			</div>
		</div>
	</div>

{% endblock %}
