{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Ajouter un soigneurs.euses
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center">
            <h1>Ajouter soigneur.euse</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    {{ include('animal_keeper/_form.html.twig') }}
                    <div class="m-4">
                        <a href="{{ path('app_animal_keeper_index') }}">Retour à la liste des soigneur.euse.s</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container text-center">
            <img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
            <h1>Accès refusé</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">

                    <div class="alert alert-danger" role="alert">
                        Vous n'avez pas l'autorisation d'accéder à cette page !
                    </div>

                    <a href="{{ path('app_index') }}">Retour à la page d'accueil</a>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
