{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Détail du soigneur.euse
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Détail soigneur.euse "{{ animal_keeper.firstName }}
            {{ animal_keeper.lastName }}"</h1>
    </div>
    <div class="container text-center bg-content-table mt-4 col-sm-6 col-md-5 col-xl-3">
        <div class="row justify-content-md-center">
            <div class="col col-lg-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>FirstName</th>
                            <td>{{ animal_keeper.firstName }}</td>
                        </tr>
                        <tr>
                            <th>LastName</th>
                            <td>{{ animal_keeper.lastName }}</td>
                        </tr>
                        {% if animal_keeper.animals is not empty %}
                            <tr>
                                <th>Pensionnaires attribués</th>
                                {% for animal in animal_keeper.animals %}
                                    <td>{{ animal.name }}
                                        ({{ animal.vernacularName }})</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="mt-4 d-flex justify-content-around">
                    <a class="btn btn-secondary" href="{{ path('app_animal_keeper_edit', {'id': animal_keeper.id}) }}">Modifier</a>
                    {{ include('animal_keeper/_delete_form.html.twig') }}
                </div>
                <div class="mt-4">
                    <a href="{{ path('app_animal_keeper_index') }}">Retour à la liste des soigneur.euse.s</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
