{% extends 'base.html.twig' %}

{% block title %}
	{% if app.user %}
		{{ refuge.name }}
		- Détail du soigneur.euse
	{% else %}
		{{ refuge.name }}
		- Accès refusé
	{% endif %}
{% endblock %}

{% block body %}

	<div class="container text-center welcome-container">
		<img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
		<h1 class="mt-4">Détail soigneur.euse</h1>
	</div>

	<div class="container text-center bg-content mt-4">
		<div class="row justify-content-md-center">
			<div class="col col-lg-6">

				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ animal_keeper.id }}</td>
						</tr>
						<tr>
							<th>FirstName</th>
							<td>{{ animal_keeper.firstName }}</td>
						</tr>
						<tr>
							<th>LastName</th>
							<td>{{ animal_keeper.lastName }}</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('app_animal_keeper_index') }}">back to list</a>

				<a href="{{ path('app_animal_keeper_edit', {'id': animal_keeper.id}) }}">edit</a>

				{{ include('animal_keeper/_delete_form.html.twig') }}

			</div>
		</div>
	</div>

{% endblock %}
