{% extends 'base.html.twig' %}

{% block title %}Message index
{% endblock %}

{% block body %}

	<div class="container text-center welcome-container">
		<img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
		<h1 class="mt-4">Liste des messages</h1>
	</div>

	<div class="container text-center bg-content mt-4">
		<div class="row justify-content-center">
			<div class="col">

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Email</th>
							<th>Message</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for message in messages %}
							<tr>
								<td>{{ message.id }}</td>
								<td>{{ message.firstName }}</td>
								<td>{{ message.lastName }}</td>
								<td>{{ message.email }}</td>
								<td>{{ message.message }}</td>
								<td>
									<a href="{{ path('app_message_show', {'id': message.id}) }}">Détail</a>
									<a href="{{ path('app_message_edit', {'id': message.id}) }}">Modifier</a>
									{{ include('message/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</div>

{% endblock %}
