{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Liste des messages
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center">
            <h1>Liste des messages</h1>
        </div>
        <div class="container text-center bg-content-table mt-4">
            <div class="row justify-content-center">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Date</th>
                                <th class="text-nowrap">Nom</th>
                                <th class="d-none d-lg-table-cell text-nowrap">Email</th>
                                <th class="d-none d-lg-table-cell text-nowrap">Message</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                                <tr>
                                    <td>{{ "now"|date("d/m/Y") }}</td>
                                    <td>{{ message.firstName }}
                                        {{ message.lastName }}</td>
                                    <td class="d-none d-lg-table-cell">
                                        <a href="mailto:{{ message.email }}" target="_blank">{{ message.email }}</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">
                                        <a class="message-text" href="{{ path('app_message_show', {'id': message.id}) }}">{{ message.message | slice(0, 240) }}...</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary mb-2" href="{{ path('app_message_show', {'id': message.id}) }}">Détail</a>
                                        {{ include('message/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">
                                        <div class="alert alert-info" role="alert">
                                            Aucun enregistrement trouvé !
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        {% include "/_access_denied.html.twig" %}
    {% endif %}
{% endblock %}
