{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ refuge.name }}
        - Gestion des suivis
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container text-center">
            <h1>Gestion des suivis</h1>
        </div>
        <div class="container text-center bg-content-table mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-12">
                    <div class="text-end mb-3">
                        <a class="btn btn-primary" href="{{ path('app_follow_up_new') }}">+ Ajouter un nouveau suivi</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th class="d-none d-sm-table-cell text-nowrap">Pensionnaire</th>
                                <th class="d-none d-md-table-cell text-nowrap">Soigneur</th>
                                <th class="d-none d-md-table-cell text-nowrap">Poids</th>
                                <th class="d-none d-md-table-cell text-nowrap">Taille</th>
                                <th class="d-none d-xl-table-cell text-nowrap">État de santé</th>
                                <th class="d-none d-xl-table-cell text-nowrap">Observations</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for follow_up in follow_ups %}
                                <tr>
                                    <td>
                                        {{ follow_up.id }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_follow_up_show', {'id': follow_up.id}) }}">
                                            <span class="text-nowrap">{{ follow_up.date ? follow_up.date|date('d-m-Y H:i:s') : '' }}</span>
                                        </a>
                                        <br/>
                                        <span class="d-sm-none">({{ follow_up.animal.name }})</span>
                                    </td>
                                    <td class="d-none d-sm-table-cell text-nowrap">
                                        <a href="{{ path('app_animal_show', {'id': follow_up.animal.id}) }}">{{ follow_up.animal.id }}
                                            -
                                            {{ follow_up.animal.name }}</a>
                                    </td>
                                    <td class="d-none d-md-table-cell text-nowrap">{{ follow_up.user.firstName }}
                                        {{ follow_up.user.lastName }}
                                    </td>
                                    <td class="d-none d-md-table-cell text-nowrap">{{ follow_up.weight }}
                                        g</td>
                                    <td class="d-none d-md-table-cell text-nowrap">{{ follow_up.size }}
                                        cm</td>
                                    <td class="d-none d-xl-table-cell">{{ follow_up.healthStatus | slice(0, 240) }}</td>
                                    <td class="d-none d-xl-table-cell">{{ follow_up.observations | slice(0, 240) }}</td>
                                    <td>
                                        <a class="btn btn-secondary mb-2" href="{{ path('app_follow_up_edit', {'id': follow_up.id}) }}">Modifier</a>
                                        {{ include('follow_up/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">
                                        <div class="alert alert-info" role="alert">
                                            Aucun enregistrement trouvé !
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </tr>
                </tbody>
            </tbody>
        </table>
    </div>
</div></div>{% else %}{% include "component/alert.html.twig" with {
            'alert_title': "Accès refusé",
            'alert_color': "danger",
            'alert_text': "Vous n'avez pas l'autorisation d'accéder à cette page !",
            'alert_redirect_link': path('app_index'),
            'alert_redirect_link_text': "Retour à la page d'accueil",
        } %}{% endif %}{% endblock %}
